docker/data/
docker/logs/
helm/firoportal/values-*.yaml
Chart.lock
*.tgz
docker/env/*.json
terraform/envs/dev.tfvars
terraform/envs/prod.tfvars
*.tfstate*
.terraform/
.terraform.lock.hcl
tethys_persist
firo_tethys_portal_home

custom_themes/tethysext-default_theme/tethysext/default_theme/public/cw3e_ucsd_edu
dev/logs/*