TETHYS_SECRET_KEY=
TETHYS_DB_ENGINE=django.db.backends.postgresql
TETHYS_DB_HOST=127.0.0.1
TETHYS_DB_PORT=5432
TETHYS_DB_NAME=tethys_platform
TETHYS_DB_USERNAME=tethys_default
TETHYS_DB_PASSWORD=
TETHYS_PORT=8000
PREFIX_URL=/firo_apps
PORTAL_ALLOWED_HOSTS=portal.example.org
CREATE_SUPERUSER=false
ASGI_PROCESSES=4
