
  <div class="footer-inner">
    <table width="100%" class="footer-table" style="padding-top:0px; padding-left:20px; padding-right:20px; padding-bottom:0px; border:0; margin-bottom:0px;">
      <tbody>
        <tr>
          <td width="6%" valign="top" align="center" style="border:0; padding-top:25px; padding-bottom:0px; margin-bottom:0px;">
            <center>
              <a href="https://cw3e.ucsd.edu/">
                <img src="https://cw3e.ucsd.edu/images/cw3e_logo_files/wetransfer-b4ff74/CW3E%20Final%20Logo%20Suite/5-Vertical-Acronym%20Onlhy/Digital/PNG/CW3E-Logo-Vertical-Acronym-White.png" width="75%">
              </a>
            </center>
          </td>
          <td width="33%" valign="top" style="border:0; padding-top:20px; padding-bottom:0px; margin-bottom:0px;">
            <p id="footer_titles"><b>F. Martin Ralph, PhD., Director</b></p>
            <p class="nowrap" id="footer_text">
              <b>Center For Western Weather and Water Extremes (CW3E)</b><br>
              Scripps Institution of Oceanography<br>
              University of California, San Diego<br>
              9500 Gilman Drive<br>
              La Jolla, CA 92093<br>
              <a href="https://cw3e.ucsd.edu/cw3e_location/" style="color:#000">Directions</a>
            </p><br>
          </td>
          <td width="24%" valign="top" style="border:0; padding-top:20px; padding-bottom:0px; margin-bottom:0px;">
            <p id="footer_titles"><b>CW3E Partners</b></p>
            <p class="nowrap" id="footer_text">
              <a href="http://www.water.ca.gov/" style="color:#fff" target="_blank">California Department of Water Resources</a><br>
              <a href="http://www.noaa.gov/" style="color:#fff" target="_blank">NOAA National Weather Service</a><br>
              <a href="https://www.jpl.nasa.gov/" style="color:#fff" target="_blank">NASA/Jet Propulsion Laboratory</a><br>
              <a href="http://www.ocwd.com" style="color:#fff" target="_blank">Orange County Water District</a><br>
              <a href="http://www.scwa.ca.gov/" style="color:#fff" target="_blank">Sonoma Water</a><br>
              <a href="http://www.usace.army.mil/" style="color:#fff" target="_blank">U.S. Army Corps of Engineers</a><br>
              <a href="https://www.usbr.gov/" style="color:#fff" target="_blank">U.S. Bureau of Reclamation</a>
            </p><br>
          </td>
          <td width="23%" valign="top" style="border:0; padding-right:20px; padding-top:20px; padding-bottom:0px;">
            <p id="footer_titles"><b>Search CW3E</b></p>
            <form role="search" method="get" class="search-form" action="https://cw3e.ucsd.edu/">
              <label><span class="screen-reader-text">Search for:</span>
                <input type="search" class="search-field" placeholder="Search …" value="" name="s">
              </label>
              <button type="submit" class="search-submit"><span class="screen-reader-text">Search</span></button>
            </form>
            <table style="padding-bottom:0px; border:0;">
              <tbody>
                <tr>
                  <td style="border:0; padding-bottom:0px;">
                    <p class="nowrap" id="footer_text" align="left">
                      <a href="https://cw3e.ucsd.edu/disclaimer/" style="color:#fff">Disclaimer</a>
                    </p>
                  </td>
                  <td style="border:0; padding-bottom:0px; margin-bottom:0px;">
                    <p class="nowrap" id="footer_text" align="right">
                      <a href="mailto:cw3e-website-g@ucsd.edu" style="color:#fff">Contact Webmaster</a>
                    </p>
                  </td>
                </tr>
                <tr>
                  <td colspan="2" style="border:0; padding-bottom:0px;">
                    <a href="https://twitter.com/CW3E_Scripps" style="color:#fff" target="_blank">
                      <img id="twitter_logo" class="twitter_logo" src="https://cw3e.ucsd.edu/images/other/twitter-icon.png" align="left">
                    </a>
                    <p class="nowrap" id="footer_titles" align="left" style="padding-top:15px;">
                      <a href="https://twitter.com/CW3E_Scripps" style="color:#fff" target="_blank">Follow CW3E on Twitter</a>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
            <center>
              <img src="https://cw3e.ucsd.edu/images/logos/UCSD_SIO.png" style="margin-top:-20px; margin-bottom:10px;" width="80%">
            </center>
          </td>
        </tr>
      </tbody>
    </table>
  </div>